.reset-button {
  background-color: #eee;
  width: 100%;
  padding-block: 8px;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid var(--dark-clr-1);
  border-radius: 8px;
  color: var(--dark-clr-1);
  transition: all 250ms ease-in;
  margin-top: 8px;
}

button:disabled {
  color: var(--dark-clr-1);
  background-color: hsla(0, 0%, 93%, 0);
  cursor: not-allowed;
}
